<%- include('header'); -%>
<!DOCTYPE html>
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<title>Book Service</title>
</head>
<body>
    <form action="/bookService" method="post">
        <ul class="list-group">
                    <li class="list-group-item">
                        <span>Name: </span><%= results %>
                        <br/>
                        <span>Phone: </span><%= results %>
                    </li>
                    <label class="mdc-text-field" data-mdc-auto-init="MDCTextField">
                            <div class="mdc-text-field__ripple"></div>
                            <input class="mdc-text-field__input" type="text" aria-labelledby="my-label-id" id="phone_number" name="phone_number">
                            <span class="mdc-floating-label" id="my-label-id">Duration: </span>
                            <div class="mdc-line-ripple"></div>
                    </label>
                    <label class="mdc-text-field" data-mdc-auto-init="MDCTextField">
                            <div class="mdc-text-field__ripple"></div>
                            <input class="mdc-text-field__input" type="text" aria-labelledby="my-label-id" id="phone_number" name="phone_number">
                            <span class="mdc-floating-label" id="my-label-id">Apply promo code: </span>
                            <div class="mdc-line-ripple"></div>
                    </label>
                  </ul>
                  <button class="mdc-button mdc-button--unelevated">
                        <div class="mdc-button__ripple"></div>
                        <span class="mdc-button__label">Book Service</span>
                </button>
    </form>
</body>
</html>

<%- include('footer'); -%>