<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form action="/searchList" method="get">
      <button class="mdc-button">
          <div class="mdc-button__ripple"></div>
          <span class="mdc-button__label">Search</span>
      </button>
  </form>
  </body>
</html>
