<%- include('header'); -%>
<div class="mdc-data-table">
  <table class="mdc-data-table__table" aria-label="Dessert calories">
    <thead>
      <tr class="mdc-data-table__header-row">
        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">PromoCodeString</th>
        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Value</th>
      </tr>
    </thead>
    <tbody class="mdc-data-table__content">
        <% for (const c of promoCodes) { %>
            <tr class="mdc-data-table__row">
                <td contenteditable class="mdc-data-table__cell"><%= c['promocodestring'] %></td>
                <td contenteditable class="mdc-data-table__cell mdc-data-table__cell--numeric" ><%= c['value'] %></td>
                <td class="mdc-data-table__cell"><button class="mdc-button">  <span class="mdc-button__ripple"></span> Apply</button></td>
            </tr>
        <% }; %>
    </tbody>
  </table>
</div>
</div>

<%- include('footer'); -%>


