<!DOCTYPE html>
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<title>Choose what to search</title>
</head>
<body>
    <form action="/searchServiceType" method="get">
        <button class="mdc-button">
            <div class="mdc-button__ripple"></div>
            <span class="mdc-button__label">Log in</span>
        </button>
    </form>
    <form action="/searchSitterName" method="get">
        <button class="mdc-button">
            <div class="mdc-button__ripple"></div>
            <span class="mdc-button__label">Log in</span>
        </button>
    </form>
    <form action="/searchPrice" method="get">
        <button class="mdc-button">
            <div class="mdc-button__ripple"></div>
            <span class="mdc-button__label">Log in</span>
        </button>
    </form>
    <form action="/searchDaysAvailable" method="get">
        <button class="mdc-button">
            <div class="mdc-button__ripple"></div>
            <span class="mdc-button__label">Log in</span>
        </button>
    </form>
    <form action="/searchSitterProfile" method="get">
        <button class="mdc-button">
            <div class="mdc-button__ripple"></div>
            <span class="mdc-button__label">Log in</span>
        </button>
    </form>
    <form action="/searchBookService" method="get">
        <button class="mdc-button">
            <div class="mdc-button__ripple"></div>
            <span class="mdc-button__label">Log in</span>
        </button>
    </form>
</body>
</html>