<%- include('header'); -%>
<!DOCTYPE html>
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Choose what to search</title>
</head>
<body>
    <div class="home-container" >
            <h2> Find our best petsitters</h2>
        </form>
        <form action="/filterGoodSitters" method="GET">
            <button class="mdc-button mdc-button--unelevated" type="submit">
                    <div class="mdc-button__ripple"></div>
                    <span class="mdc-button__label">Get experienced sitters</span>
            </button>
        </form>
        <form action="/sitterRankings" method="GET">
            <button class="mdc-button mdc-button--unelevated" type="submit">
                    <div class="mdc-button__ripple"></div>
                    <span class="mdc-button__label">Sitters By Rating</span>
            </button>
        </form>
    <h2>
         Or Choose the service you want to filter by:
    </h2>
        
        <form action="/searchResults" method="post">
            <div class="container" style="width : 2000px">
            <div class="mdc-form-field">
                    <div class="mdc-radio">
                      <input class="mdc-radio__native-control" type="radio" id="radio-1" name="column" value="pricelt" unchecked>
                      <div class="mdc-radio__background">
                        <div class="mdc-radio__outer-circle"></div>
                        <div class="mdc-radio__inner-circle"></div>
                      </div>
                      <div class="mdc-radio__ripple"></div>
                    </div>
                    <label for="radio-1">Price less than</label>
                  </div>
                  <div class="mdc-form-field">
                  <div class="mdc-radio">
                        <input class="mdc-radio__native-control" type="radio" id="radio-1" name="column" value="pricegt" unchecked>
                        <div class="mdc-radio__background">
                          <div class="mdc-radio__outer-circle"></div>
                          <div class="mdc-radio__inner-circle"></div>
                        </div>
                        <div class="mdc-radio__ripple"></div>
                      </div>
                      <label for="radio-1">Price greater than</label>
                    </div>
                    <div class="mdc-form-field">
                    <div class="mdc-radio">
                            <input class="mdc-radio__native-control" type="radio" id="radio-1" name="column" value="service" checked>
                            <div class="mdc-radio__background">
                              <div class="mdc-radio__outer-circle"></div>
                              <div class="mdc-radio__inner-circle"></div>
                            </div>
                            <div class="mdc-radio__ripple"></div>
                        
                          <label for="radio-1">Service type</label>
                        </div>
                        <div>
                        <label class="mdc-text-field" data-mdc-auto-init="MDCTextField">
                                <div class="mdc-text-field__ripple"></div>
                                <input class="mdc-text-field__input" type="text" aria-labelledby="my-label-id" id="phone_number" name="textInput">
                                <span class="mdc-floating-label" id="my-label-id">Insert value </span>
                                <div class="mdc-line-ripple"></div>
                        </label>
                    </div>
                              </div>
              <button class="mdc-button mdc-button--unelevated" type="submit">
                    <div class="mdc-button__ripple"></div>
                    <span class="mdc-button__label">Submit</span>
            </button>
        </div>
    </div>
</body>
</html>
<%- include('footer'); -%>