<!DOCTYPE html>
<html>
  <head>
    <title>Results</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <section class="home">
          <h1>Service List</h1>

          <form action="/bookService" method="get" class="form-container">
            <ul class="list-group">
                <% for(var i=0; i<results.length; i++) {%>
                    <li class="list-group-item">
                        <span>Name: </span><%= results[i].service_id %>
                        <br/>
                        <span>Phone: </span><%= results[i].price %>
                    </li>
                <% } %>
                  </ul>
            <button class="mdc-button mdc-button--unelevated">
                <div class="mdc-button__ripple"></div>
                <span class="mdc-button__label">Continue</span>
            </button>
        </form>
      </section>
  </body>
</html>
