<%- include('header'); -%>
<!DOCTYPE html>
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<title>Choose what to search</title>
</head>

            
<body>
        <form action="/searchResults" method="post">
            <div class="mdc-form-field">
                    <div class="mdc-radio">
                      <input class="mdc-radio__native-control" type="radio" value="Date Available" id="radio-1" name="selectpicker" checked>
                      <div class="mdc-radio__background">
                        <div class="mdc-radio__outer-circle"></div>
                        <div class="mdc-radio__inner-circle"></div>
                      </div>
                      <div class="mdc-radio__ripple"></div>
                    </div>
                    <label for="radio-1">Date Available</label>
                  </div>
                  <div class="mdc-radio">
                        <input class="mdc-radio__native-control" type="radio" id="radio-1" name="selectpicker" checked>
                        <div class="mdc-radio__background">
                          <div class="mdc-radio__outer-circle"></div>
                          <div class="mdc-radio__inner-circle"></div>
                        </div>
                        <div class="mdc-radio__ripple"></div>
                      </div>
                      <label for="radio-1">Radio 1</label>
                    </div>
              <button class="mdc-button mdc-button--unelevated" type="submit">
                    <div class="mdc-button__ripple"></div>
                    <span class="mdc-button__label">Submit</span>
            </button></td>
            </form>
    <%- include searchResults.ejs %>
</body>
<script> mdc.select.MDCSelect.attachTo(document.querySelector('.mdc-select')); </script>

</html>


<%- include('footer'); -%>